// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table {
    border: 2px solid #DEE2E6;
}

.fixed-table tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

.fixed-table thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.fixed-table thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.page-item {
    padding-left: 7px;
}

.text-red {
    color: #FCBABA;
}

.page-link {
    color: #707070;
    border-radius: 7px !important;
}

